#Ignore conference material
/AAPA2019/*

#Ignore unused analyses, archived code, and raw materials
/Analysis/.Rproj.user/*
/Analysis/ArchivedCode/*
/Analysis/CameraError_NormalDispCurvArea/*
/Analysis/EDMA/*

/Analysis/RawImageData/3DMD/35ind/*
/Analysis/RawImageData/3DMD/Mannequin_NoPowder/*
/Analysis/RawImageData/3DMD/Mannequin_WithPowder/*

/Analysis/RawImageData/3DMD_UpsampledMesh/*

/Analysis/RawImageData/Vectra/35ind/*
/Analysis/RawImageData/Vectra/Mannequin_NoPowder/*
/Analysis/RawImageData/Vectra/Mannequin_WithPowder/*

/Analysis/RawImageData/All.35ind.7160LM.mat
/Analysis/RawImageData/All.Mqn.7160LM.mat
/Analysis/RawImageData/CombineMappedCoordinates.asv
/Analysis/RawImageData/Meta_MIRC.xlsx

/Analysis/VectraVs3dMD.RData
/Analysis/VectraVs3dMD.Rhistory
/Analysis/VectraVs3dMD.nb.html
/Analysis/VectraVs3dMD.Rmd

#Ignore Tom's script, which can be found on his own GitHub account
/Analysis/Plot1Face.R
/Analysis/Plot1Face_Tutorial.Rmd

#Ignore manuscript material until acceptance
/Manuscript/*
